<div class="container-fluid border border-bottom-3">
  <div class="row py-4">
    <div class="col-lg-3 text-center mb-5 mx-auto">
      <div class="genre_search_bar"><%= render 'layouts/search_sidebar' %></div>   <!--  検索サイドバー/実装予定  -->
    </div>

    <div class="col-lg-9">
      <div class="introduction-box">　<!-- 紹介文 -->
        <div class="introduction-text">
          <p>ようこそ、ながのCAKEへ！</p>
          <p>このサイトは、ケーキ販売のECサイトになります。</p>
          <p>会員でない方も商品の閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
        </div>
      </div>

      <h2>新着商品</h2>
      <div class="new-items-container d-flex flex-row mb-3">  <!-- 新着商品を横並びにする必要あり -->
        <% @items.each do |item| %>
           <div class="new-items mx-3"> <!-- 商品画像・ない場合は"no_image.jpg" -->
             <%= link_to item_path(item.id) do %>
               <% if item.image.attached? %>
                 <%= image_tag item.image, size: "180x130" %>
               <% else %>
                 <% image_tag "no_image",size: "180x130" %><br>
               <% end %>
             <% end %>
             <p><%= item.name %></p>
             <p>¥<%= number_with_delimiter(item.price) %></p>  <!-- 現状：税抜価格/おそらく、税込み価格に変更必要あり -->
           </div>
        <% end %>
      </div>
      <div>
        <%= link_to 'すべての商品を見る', items_path %>
      </div>
    </div>
  </div>
</div>

