 <h5 class="bg-secondary" style="width: 250px; margin:30px 0 20px 220px;">
   <b><%= @customer.last_name %><%= @customer.first_name %></b>さんの<b>会員詳細</b>
</h5>

<div class="container">
    <div class="row">
        <div class="col-10">
           <table class="table table-borderless">
               <thead>
                   <tr>
                       <th></th>
                       <th></th>
                   </tr>
               </thead>
               <tbdoy>
                   <tr>
                       <td><b>会員ID</b></td>
                       <td><%= @customer.id %></td>
                   </tr>
                   <tr>
                       <td><b>氏名</td></b>
                       <td><%= @customer.last_name %>&emsp;<%= @customer.first_name %></td>
                   </tr>
                   <tr>
                       <td>フリガナ</td>
                       <td><%= @customer.last_name_kana %>&emsp;<%= @customer.first_name_kana %></td>
                   </tr>
                   <tr>
                       <td>郵便番号</td>
                       <td><%= @customer.post_code %></td>
                   </tr>
                   <tr>
                       <td>住所</td>
                       <td><%= @customer.address %></td>
                   </tr>
                   <tr>
                       <td>電話番号</td>
                       <td><%= @customer.telephone_number %></td>
                   </tr>
                   <tr>
                       <td>メールアドレス</td>
                       <td><%= @customer.email %></td>
                   </tr>
                   <tr>
                       <td>会員ステータス</td>
                       <td>
                           <% if @customer.is_active? %>
                              <p class="font-weight-bolder text-success">
                                <%= '有効' %>
                              </p>
                            <% else %>
                              <p class="font-weight-bolder text-muted">
                                <%= '退会' %>
                              </p>
                            <% end %>
                       </td>
                   </tr>
               </tbdoy>
           </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>



