<h2>ジャンル一覧・追加</h2>

<p>ジャンル名</p>

<%= form_with model: @genre, url: 'genres', method: :post do |f| %>
<%= f.text_field :name %>
<%= f.submit '新規登録' %>
<% end %>

<h2>ジャンル</h2>
<% @genres.each do |genre| %>
<%= genre.name %>
<%= link_to "編集する", edit_admin_genre_path(genre.id) %>
<% end %>