<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 title">
      <h2 class="bg-origin">配送先編集</h2>
    </div>
    <%= render 'layouts/error', obj: @address %>

    <%= form_with model: @address, url: address_path(@address.id), local:true,  method: :patch do |f| %>
      <div class="form-group">
        <%= f.label :郵便番号（ハイフンなし）%>
        <%= f.text_field :post_code %>
      </div>

      <div class="form-group">
        <%= f.label :住所%>
        <%= f.text_field :address %>
      </div>

      <div class="form-group">
        <%= f.label :宛名%>
        <%= f.text_field :name %>
      </div>

      <div class="form-group">
        <%= f.submit "変更内容を保存", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>