<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-3">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>ジャンル検索</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>ケーキ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>焼き菓子</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>プリン</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>キャンディ</td>
                        <td></td>
                    </tr>
                    </tbody>
            </table>
        </div>

         <div class="col-4">
            <%= image_tag @item.image,size:"500x300" %>
         </div>

        <div class="col-5">
           <div class="row ml-4 mb-3">
              <h1><%= @item.name %></h1>
           </div>
           <div class="row ml-4 mb-5">
              <h4><%= @item.introduction %></h4>
           </div>
           <div class="row ml-4 mb-5">
             <h3 class="font-weight-bold">
               ￥<%= number_with_delimiter(@item.price) %>
             </h3>
             <div class="d-flex align-items-center ml-1">
               (税込)
             </div>
           </div>
           <div class="row ml-4">
             <%= form_with model:@cart_item,url:cart_items_path,method: :post,local:true do |f| %>
             <%= f.hidden_field :item_id, value: @item.id %>
             <%= f.hidden_field :customer_id, :value => current_customer.id %>
             <%= f.select :amount,*[1..10],{include_blank: '個数選択'},required:true %>&emsp;
             <%= f.submit 'カートに入れる' ,class: 'btn btn-success btn-sm ml-4' %>
             <% end %>
           </div>
        </div>
    </div>
</div>